html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  background: #1a1a1a;
  color: #747474;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #963EFF;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: underline;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: bold;
}

h1 {
  font-size: 38px;
  margin-bottom: 35px;
}

h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

h4, h5, h6 {
  letter-spacing: normal;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 26px;
}

ul {
  padding: 0;
  list-style-position: inside;

  li {
    margin-bottom: 10px;
  }
}

blockquote {
  margin: 30px 0;
  padding-left: 20px;
  border-left: solid 4px #3D3D3D;
}

code {
  font-family: 'Roboto Mono', monospace;
  background-color: #282828;
  border-radius: 3px;
  color: #fff;
  padding: 1px 3px;
}

.content {
  margin-left: 80px;
  margin-right: 80px;

  @include mobile {
    margin-left: 25px;
    margin-right: 15px;
  }

  @include wide {
    width: $wide-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.clear-both {
  clear: both;
}

footer {
  @extend .content;
  display: flex;

  margin-top: 47px;
  margin-bottom: 57px;

  a {
    text-decoration: none;
  }

  .with-love {
    margin-top: 0;
    font-size: 19px;

    @include mobile {
      margin-top: 25px;

      .from {
        display: none;
      }
    }

    .icon-love {
      margin-left: 3px;
      margin-right: 3px;

      &:hover {
        animation: heartbeat 1.2s ease-in-out infinite;

        @keyframes heartbeat {
          0%  { transform: scale(1);   }
          14% { transform: scale(1.3); }
          28% { transform: scale(1);   }
          42% { transform: scale(1.3); }
          70% { transform: scale(1);   }
        }
      }
    }
  }

  .fork-and-fix {
    margin-left: auto;
    font-size: 14px;
    align-self: flex-end;

    @include mobile {
      display: none;
    }
  }
}