pre > code,
.hljs {
  display: block;
  overflow-x: auto;
  background: #111111;
  border-radius: 0;
  color: #fff;
  padding: 20px 26px;
}

.hljs-monkberry {
  color: #1BA0EB;
}

.hljs-comment,
.hljs-quote {
  color: #7e7887;
}

.hljs-tag,
.hljs-template-tag,
.hljs-template-variable {
  color: #fff;
}

.hljs-attr {
  color: #EE8B16;
}

.hljs-variable,
.hljs-attribute,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #1C8CE6;
}

.hljs-literal {
  color: #EE8B16;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-type,
.hljs-params {
  color: #aa573c;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #249D7F;
}

.hljs-title,
.hljs-section {
  color: #576ddb;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #955ae7;
}

.hljs-deletion,
.hljs-addition {
  color: #19171c;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #be4678;
}

.hljs-addition {
  background-color: #2a9292;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
